{% extends 'base.html' %}

{% block content %}
{% load static %}
<head>
    <style>
        table{
            margin-left: auto; 
            margin-right: auto;
        
            width: 80%;
        }
        
    </style>
</head>
<body>

<div class="container">
<br><br>
<table>
    <tr>
        <th colspan="3" style="text-align: center;"><h1 style="font-size: 100px;">My MAP</h1>
            <a id="write" href="{% url 'write' %}">write</a>
            <ul class="nav-item dropdown show">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">날짜순</a>
                <!-- <div class="dropdown-menu show" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 44px, 0px);" x-placement="bottom-start">
                  <a class="dropdown-item" href="#">날짜별</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">오름차순</a>
                  <a class="dropdown-item" href="#">내림차순</a>
                </div> -->
            </ul>
        </th>
    </tr>
    <tr><td colspan="3">&nbsp;</td></tr>
    <tr>
        <td><img src="{% static 'pic1.png' %}" width="100%" alt="낙산공원"></td>
        <td><img src="{% static 'pic2.png' %}" width="100%" alt="한강자전거"></td>
        <td><img src="{% static 'pic3.png' %}" width="100%" alt="덕수궁돌담길"></td>
    </tr>
    <tr>
        <td><img src="{% static 'pic4.png' %}" width="100%" alt="서울숲"></td>
        <td><img src="{% static 'pic5.png' %}" width="100%" alt="경복궁"></td>
        <td><img src="{% static 'pic6.png' %}" width="100%" alt="남산"></td>
    </tr>
    <tr>
        <td><img src="{% static 'pic7.png' %}" width="100%" alt="인사동"></td>
        <td><img src="{% static 'pic8.png' %}" width="100%" alt="청계천"></td>
        <td><img src="{% static 'pic9.png' %}" width="100%" alt="가로수길"></td>
    </tr>
</table>
</div>
<br><br><br><br>
</body>
{% endblock content %}