{% extends 'base.html' %}

{% block content %}
{% load static %}
<head>
    <style>
        table{
            margin-left: auto; 
            margin-right: auto;
        
            width: 80%;
        }
        
    </style>
</head>
<body>

<div class="container">
<br><br>
<table>
    <tr>
        <th colspan="3" style="text-align: center;"><h1 style="font-size: 100px;">My MAP</h1></th>
    </tr>
    <tr>
            <td>
                <button type="button" class="btn btn-primary">Write</button>
            </td>
            <td>
            </td>
            <td style="text-align: right;">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-primary" id="ko">최신순</button>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#" id="ko">오래된순</a>
                    </div>
                </div>
                </div>
            </td>
        </tr>
    <tr><td colspan="3">&nbsp;</td></tr>
    <tr>
        <td><img src="{% static 'pic1.png' %}" width="100%" alt="낙산공원"></td>
        <td><a href="{% url 'detail'%}"><img src="{% static 'pic2.png' %}" width="100%" alt="한강자전거"></a></td>
        <td><img src="{% static 'pic3.png' %}" width="100%" alt="덕수궁돌담길"></td>
    </tr>
    <tr>
        <td><img src="{% static 'pic4.png' %}" width="100%" alt="서울숲"></td>
        <td><img src="{% static 'pic5.png' %}" width="100%" alt="경복궁"></td>
        <td><img src="{% static 'pic6.png' %}" width="100%" alt="남산"></td>
    </tr>
    <tr>
        <td><img src="{% static 'pic7.png' %}" width="100%" alt="인사동"></td>
        <td><img src="{% static 'pic8.png' %}" width="100%" alt="청계천"></td>
        <td><img src="{% static 'pic9.png' %}" width="100%" alt="가로수길"></td>
    </tr>
</table>
</div>
<br><br><br><br>
</body>
{% endblock content %}