{% extends 'base.html' %}
{% load static %}

{% block head %}
<link href="{% static 'css/write.css' %}" type="text/css" rel="stylesheet">
{% endblock head %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="jumbotron">
        <table>
            <br>
            <h1>Title</h1>
            <div id="title">{{form.title}}</div>
            <br><br>
            <div class="filebox">
                <h1><label for="id_image">Picture</label></h1>
                {{form.image}}
            </div>
            <br>
            <h1>Text</h1>
            <div id="text">{{form.body}}</div>
        </table>
        <br><br>
    
        <button type="button" href="{% url 'main2' %}" class="btn btn-primary">Submit</button>

    </div>
</form>
{% endblock content %}