.jumbotron {
    width: 600px;
    margin:0 auto;
    margin-top: 10px;
    padding:25.125px 0px 25.125px 0px;
    text-align: center;
    background: url(../그림5.png);
    border: 3px solid black;
}




#title input {
    width: 300px;
}

#text input {
    width: 300px;
    height: 100px;
}